<!DOCTYPE html>
<html>
<head>
<style>
.container {
    display: flex;
}

section {
    flex-grow: 1;
    border: 1px solid black;
}

aside {
    border: 1px solid black;
}
</style>
</head>
<body>

<span class="container">
    <section>
        <h2>Section</h2>
        <p>This is the section.</p>
        <pre>
            dk
            kjsdf
            jdfh
            dfd
            fdsf
            sdfsfs

            sfsdfsfsd

            s

            fsfd

            fdsfs

            fsd

            fsdf
        </pre>
    </section>
    <aside>
        <h2>Aside</h2>
        <p>This is the aside.</p>
    </aside>
</span>

</body>
</html>
