<!DOCTYPE html>
<html lang="en">
    <head>
        <style>
            table, th, td{
                border: 2px solid black;
                border-collapse: collapse;
                text-align: center;
            }
            table{
                font-weight: bold;
            }
            td, th{
                padding: 10px;
            }
            th{
                font-family: 'Arial Black';
                font-size: 14px;
            }
        </style>
    </head>
    <body>
        <table>
            <caption>
                Schedule
            </caption>
            <!-- <col/>
            <colgroup span="2"/>
            <colgroup span="2"/> -->
            <tr>
                <th rowspan="3"> DAY </th>
                <th colspan="4"> VALUE ADDED PROGRAM </th>
            </tr>
            <tr>
                <th colspan="2"> SCHEDULE </th>
                <th colspan="2" rowspan="2"> TITLE </th>
            </tr>
            <tr>
                <TH style="width: 50px"> STARTING TIME </TH>
                <TH style="width: 100px"> ENDING TIME </TH>
            </tr>
            <tr>
                <td rowspan="2"> WED </td>
                <td style="background-color: #555;"> 10 a.m. </td>
                <td style="background-color: #666;"> 12.30 p.m. </td>
                <td> HTML basics </td>
            </tr>
            <tr>
                <td style="background-color: #777;"> 1 p.m. </td>
                <td style="background-color: #888;"> 4.30 p.m. </td>
                <td> HTML text tags </td>
            </tr>
            <tr>
                <td rowspan="3"> FRIDAY </td>
                <td style="background-color: #999;"> 8 a.m. </td>
                <td style="background-color: #AAA;"> 10 a.m. </td>
                <td> HTML list, form, table </td> 
            </tr>
            <tr>
                <td style="background-color: #BBB;"> 10.15 a.m. </td>
                <td style="background-color: #CCC;"> 12 p.m. </td>
                <td> HTML frames </td>
            </tr>
            <tr>
                <td style="background-color: red";> 1 p.m. </td>
                <td style="background-color: blue;"> 4.30 p.m. </td>
                <td> Client side image mapping </td>
            </tr>
        </table>
    </body>
</html>